body {
  min-height: 100vh;
}
.books-item {
  height: 100%;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  overflow: auto;
  padding-top: 1rem;
  position: absolute, fixed;
  bottom: 0;
  width: 100%;
  
}